{% extends 'mailhole/base.html' %}
{% block title %}Modtager-adresser{% endblock %}
{% block content %}
<h1>Modtager-adresser</h1>
{% if user.is_superuser %}
<p><a href="{% url 'log' %}">Log</a></p>
{% endif %}
<ul>
    <li>Alle
        <ul>
            {% for key, label, url, qs in all_folders %}
            <li><a href="{{ url }}">{{ label }}</a> ({{ qs.count }})</li>
            {% endfor %}
        </ul>
    </li>
    {% for mailbox in object_list %}
    <li>{{ mailbox }}
        (<a href="{% url 'default_action_update' mailbox=mailbox.name %}">
            {{ mailbox.get_default_action_display }}</a>)
        <ul>
            {% for key, label, url, qs in mailbox.folders %}
            <li><a href="{{ url }}">{{ label }}</a> ({{ qs.count }})</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
