{% extends 'mailhole/base.html' %}
{% block title %}{{ message.subject|default:BLANK_SUBJECT }}{% endblock %}
{% block nav %}
<a href="{% url 'mailbox_detail' mailbox=message.mailbox.name %}">
    {{ message.mailbox }}</a>
<a href="{% url 'mailbox_message_list' mailbox=message.mailbox.name status=message.status %}">
    {{ message.get_status_display }}</a>
{% endblock %}
{% block content %}
<h1>{{ message.subject|default:BLANK_SUBJECT }}</h1>
<form method="post">{% csrf_token %}
{{ form.errors }}
<p><i>Oprindelig fra:</i> {{ message.from_ }}</p>
<p><i>Fra:</i> {{ message.outgoing_from }}</p>
<p><i>Til:</i> {{ message.to_as_html }} &rarr; {{ message.rcpt_tos }}</p>
<p><i>Sendt:</i> {{ message.parsed_headers.date }}</p>
<p><i>Modtaget:</i> {{ message.created_time }}</p>
{% if message.unsubscribe_links %}
<p><i>List-Unsubscribe:</i> {{ message.unsubscribe_links }}</p>
{% endif %}
{% if message.status_on %}
<p><i>Håndteret:</i> {{ message.status_on }} markeret {{ message.get_status_display }}</p>
{% endif %}
{% if message.status_by %}
<p><i>Håndteret af</i> {{ message.status_by }}</p>
{% endif %}
{% if message.filtered_by %}
<p><i>Håndteret af filter</i> {{ message.filtered_by }}</p>
{% endif %}
<div style="white-space: pre-wrap">{{ message.body_text }}</div>
<p>{{ form.recipient }} <input type="submit" name="send" value="Videresend" /></p>
<p><input type="submit" name="trash" value="Slet" /></p>
<p><input type="submit" name="spam" value="Markér som spam" /></p>
</form>
{% endblock %}
