{% extends 'mailhole/base.html' %}
{% block title %}{{ status }} - {{ mailbox }}{% endblock %}
{% block nav %}
{% if all %}<a href="{% url 'mailbox_list' %}">Alle</a>
{% else %}<a href="{{ mailbox.get_absolute_url }}">{{ mailbox }}</a>
{% endif %}{% endblock %}
{% block navcurrent %}<span>{{ status }}</span>{% endblock %}
{% block head %}
<style>
.subject > a {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-ellipsis: ellipsis;
}
.received-time { white-space: nowrap; }
</style>
{% endblock %}
{% block content %}
{% if all %}
<h1>{{ status }}</h1>
{% else %}
<h1>{{ mailbox }}</h1>
<h2>{{ status }}</h2>
{% endif %}
{% if inbox %}
<p>
Markér emails som <b>Spam</b> for at sende dem til spammappen,
eller markér <b>Send</b> for at videresende dem til
{% if all %}den rette modtager{% else %}{{ mailbox.email }}{% endif %} og slette dem,
eller markér <b>Slet</b> hvis du bare vil slette dem.
</p>
<p>Markér <b>Send altid</b> for at videresende og oprette en regel.</p>
<p>
<b>Du må ikke videresende spam-mails!</b>
Hvis du er i tvivl, så læs mailen inden du videresender den.
</p>
{% endif %}

<form method="post">{% csrf_token %}
{{ form.errors }}
<table>
<thead>
<tr>
{% if inbox %}
<th>Spam</th>
<th>Send</th>
<th>Send altid</th>
<th>Slet</th>
{% endif %}
<th>Fra</th>
<th>Til</th>
<th>Emne</th>
<th>Modtaget</th>
</tr>
</thead>
<tbody>
{% for message in object_list %}
<tr>
    {% if inbox %}
    <td class="spam">{{ message.form.spam }}</td>
    <td class="forward">{{ message.form.forward }}</td>
    <td class="whitelist">{{ message.form.whitelist }}</td>
    <td class="trash">{{ message.form.trash }}</td>
    {% endif %}
    <td class="from">{{ message.from_ }}</td>
    <td class="to">{% if all %}{{ message.mailbox }}
        {% else %}{{ message.to_as_html }}{% endif %}</td>
    <td class="subject"><a href="{{ message.get_absolute_url }}">{{ message.subject|default:BLANK_SUBJECT }}</a></td>
    <td class="received-time">{{ message.created_time }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if inbox %}<input type="submit" value="Udfør handlinger" />{% endif %}
</form>
{% endblock %}
